<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node name="detection" pkg="object_recognition_core" type="detection" args="-c $(find object_recognition_tabletop)/conf/detection.object.ros.ork" output="screen"/>
	<!-- launch rviz using a specific config file -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pcl_recognition)/launch/object_recognition_kitchen.rviz"/>

	<node name="object_recognition_kitchen" pkg="pcl_recognition" type="object_recognition_kitchen" output="screen"/>
</launch>